**/.vscode
**/__pycache__/
**/.venv/
**/.ruff_cache/
**/logs/
**/.*cache/
.python-version
profiling/
.claude
_examples/
site/
dist/
*.egg-info/
build/
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.tmp
*.swp
_benchmarks/
